* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #232323;
}

footer {
    background-color: #232323;
}

section div img {
    max-width: 100%;
}

nav ul {
    text-align: center;
}

div a {
    text-decoration: none;
}

/* ----- HEADER ----- */

.firma-header {
    max-width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.fondo-header-footer {
    background-color: #121212;
}

/* ----- MAIN ----- */

.titulos {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.subtitulos-h2 {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulos-h3 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 1vh;
}

.parrafos {
    text-align: center;
    padding: 1vh;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-presentacion {
    padding: 2vh;
    max-width: 100%;
    border-radius: 35px;
}

#foto-perfil {
    border-radius: 10px;
}

.titulo-bio {
    padding-top: 3vh;
    padding-bottom: 2vh;
}

/* ----- DECORACIONEN PRESUP ----- */

.foto-contacto {
    height: 594px;
    border-radius: 10px;
    object-fit: cover;
}

/* ----- DECORACIONEN PRESUP ----- */

.tarjeta-presup {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: rgb(211, 204, 174);
}

.subtitulos-items {
    text-align: center;
    padding: 1vh;
    color: rgb(131, 40, 4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.items-presup {
    text-align: left;
    padding: 1vh;
    color: rgb(3, 1, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.preguntas-frec {
    padding-top: 3vh;
    text-align: left;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ----- FOOTER ----- */

.color-nav {
    color: lightgray;
}