button a{
    color: white;
}

.boton-bio {
    background-color: rgb(39, 108, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
    padding: .8rem 1.3rem;
    border: 1px solid black;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .6s ease;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.6);

    &:hover {
    background-color: rgb(3, 69, 212);
    }
}

.boton-contacto {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .6s ease;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.6);

    &:hover {
    background-color: lightgrey;
    }
}